
.header{
	padding-bottom: 10px;
	background: #1d192c;
	@include breakpoint(mobile){
		text-align: center;
	}
	@include breakpoint(tablet){
		text-align: center;
	}

}
.small-logo{
	// text-align: center;
	margin-top: -4px;
}

.head-search{ 
	input{
		width: 100%;
		padding-left: 10px;
		border: 6px solid $base-color;
		background: none;
		line-height: 40px;
		color: #fff;
	}
}
.zindex{
	z-index: 9
}
.gnb{
	position: fixed;
	top: 0;
	left: 0;
	width: 300px;
	height: 100%;
	background: #fff;
	box-shadow: 0 0 10px rgba(0,0,0,0.2);
	text-align: left;
}
