.logo{
	// position: absolute;
	margin-top:  $leading * 5;
	@include breakpoint(mobile){
		text-align: center;
	}
	@include breakpoint(tablet){
		text-align: center;
	}
	img{
		max-width: 100%;
	}
}
.hamburger-menu{
	display: block;
	width: 59px;
	height: 59px;
	padding: 18px 15px;
	border: 1px solid #fff;
	box-sizing: border-box;
	.line{
		display: block;
		width: 28px;
		height: 3px;
		background: #fff;
		margin: 6px 0
	}&:after,&:before{
		content: '';
		display: block;
		width: 28px;
		height: 3px;
		background: #fff;
	}
}
.utill-login {
	text-align: right;
	margin-top: $leading
}
.utill-login li{
	display: inline-block;
	margin-left: 15px;
	&:after{
		content: '|';
		display: inline-block;
		position: relative;
		top: -2px;
		margin-left: 15px;
		color: #fff;
		font-size: 1.2rem;
	}
	&:last-child:after{
		content: '';
		display: inline-block;
		margin-left: 0;
	}
	a{
		color: #fff;
	}
}
.search{
	margin-top:  $leading * 2;
	input{
		width: 100%;
		border: 10px solid #00cbe7;
		background: none;
		line-height: 40px;
		color: #fff;
		padding-left: 10px;
	}
	fieldset{
		position: relative;
	}
}
.btn-search{
	position: absolute;
	top: 18px;
	right: 25px;
	width: 27px;
	height: 25px;
	border: 0;
	background: url('./assets/header/btn_search.png') no-repeat 0 0;
	text-indent: -999em;
}
.search-word{
	@include clearfix;
	li{
		float: left;
		margin-top: $leading;
		padding-left: 15px;
	}
	a{
		padding: 8px 7px;
		color: #fff
	}
}